<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Library Management System using Postgres</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"></link>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"></link>
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/javascripts/html5shiv.min.js"></script>
      <script src="/javascripts/respond.min.js"></script>
    <![endif]-->
    
  </head>
  <body>
    <div class="container">
      Library Management System using Postgres
    </div>
  </body>
</html>
