<html>
<head>
  <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Library management system</title>
   <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"></link>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"></link>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/javascripts/html5shiv.min.js"></script>
      <script src="/javascripts/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class = "container">
    <h1>Edit user</h1>
      <div class="row">
        <div class="col-lg-6">
          <form method="POST" action="/users/<%= user._id %>?_method=PUT">
            <div class=form-group>
              <label>Name:</label>
              <input class="form-control" type="text" value="<%= user.name %>" name="user[name]"></input>
            </div>
            <div class=form-group>
              <label>Email:</label>
              <input class="form-control" type="text" value="<%= user.email %>" name="user[email]"></input>
            </div>
            <div class=form-group>
              <label>Password:</label>
              <input class="form-control" type="password" value="<%= user.password %>" name="user[password]"></input>
            </div>
            <div>
              <input class="btn btn-default" type="submit" value = "update"/>
            </div>
          </form>
      </div>
    </div>
  </div>
</body>
</html>
