<html>
<head>
<title>Library management system</title>
</head>

<body>
  <h1>Search Users...</h1>
  <form action="/users/search" method="get">
    <div>
      <div>
        Search by name: <input type="text" value="<%= search_params.name %>" name="search[name]"/>
      </div>
      <div>
        Search by email: <input type="text" value="<%= search_params.email %>" name="search[email]"/>
      </div>
    </div>
    <div>
      <input type="submit" value="Search"/>
    </div>
  </form>  
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
    <% for(var i = 0; i < users.length; i++){ %>
      <tr>
        <td><%= users[i].name %></td>
        <td><%= users[i].email %></td>
      </tr>
    <% } %>
  </table>
</body>
</html>
